<h1> All of yours lists: </h1>

<ul>
  <% @lists.each do |list| %>
  <li><%= link_to list.name, list_path(list), class: 'text-decoration-none' %> </li>
  <% end %>
</ul>

<%= link_to "Create a new list", new_list_path %>
